<!DOCTYPE html>

<html style="font-size: 16px;">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/nicepage.css" media="screen">
    <link rel="stylesheet" href="static/index.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>

</head>
<body data-home-page="https://website585789.nicepage.io/Page-8.html?version=2c293367-2378-4fe5-9ded-cbbd8f28d396" data-home-page-title="Page 8" class="u-body">
    <section class="u-align-center u-clearfix u-section-2" id="carousel_1ba4">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <h2 class="u-text u-text-1">Welcome to MyPlantPal {{username}}</h2>
        <p class="u-text u-text-2">Select your plant to view insights</p>
            <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                <a href="/dashboard/my-plant-pal-001/Bedroom">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-container-layout-1">
                    <img src="/static/images/pexels-photo-2736497.jpeg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2250" data-image-height="1500">
                    <div class="u-align-center u-container-style u-group u-white u-group-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-2">
                        <h3 class="u-text u-text-3 text-size">Bedroom plant</h3>
                        <h6 class="u-text u-text-4">Select</h6>
                        </div>
                    </div>
                    </div>
                </a>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <a href="/dashboard/my-plant-pal-002/Kitchen">
                <div class="u-container-layout u-similar-container u-valign-top-sm u-container-layout-3">
                    <img src="/static/images/pexels-photo-1470168.jpeg" alt="" class="u-expanded-width u-image u-image-default u-image-2">
                    <div class="u-align-center u-container-style u-group u-video-cover u-white u-group-2">
                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-4">
                        <h3 class="u-text u-text-default u-text-5 text-size">Kitchen plant</h3>
                        <h6 class="u-text u-text-default u-text-6">Select</h6>
                    </div>
                    </div>
                </div>
                    </a>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-valign-top-sm u-container-layout-5">
                    <img src="/static/images/pexels-photo-403571.jpeg" alt="" class="u-expanded-width u-image u-image-default u-image-3">
                    <div class="u-align-center u-container-style u-group u-video-cover u-white u-group-3">
                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-6">
                        <h3 class="u-text u-text-default u-text-7">Family room plant</h3>
                        <h6 class="u-text u-text-default u-text-8">Select</h6>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        <a href="/logout" class="u-border-2 u-border-grey-dark-1 u-btn u-button-style u-btn-1">logout</a>
    </div>
    </section>

</body>

</html>